.btn-header{
  display: block;
  font-size: 24px;
  font-family: Roboto;
  color: #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .4s;
  }

 .btn-header:hover{
  letter-spacing: 8px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}
